# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# xcode noise
*/build/*
*/*/*.pbxuser
*/*/*.mode1v3
*/*/xcuserdata/*
*/*/project.xcworkspace

#folders
*/bin/*.app
*/bin/*.app

# osx noise
.DS_Store
profile

#data folder noise (I want to keep csv and tsv and txt files)
*.pdf
*.ttf
*.jpg
*.png
